/* @font-face {
	font-family: "keep-calm";
	src: url("fonts/keep_calm/KeepCalm-Medium.woff2") format("woff2"),
		url("fonts/keep_calm/KeepCalm-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
} */

:root {
	--default-width: 1200px;
	--light-wine: #851e3e;
	--wine: #651e3e;
	--dark-wine: #451e3e;
	--basic-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	--positive-green: #8ce196;
	--ease-transition: all 400ms ease-in-out;
	--book-card-width: 20em;
	--book-card-min-height: 36em;
	--dialog-alignment: center;
	--dialog-margin-top: 0;

	@media (max-width: 690px) {
		--book-card-width: 16em;
		--book-card-min-height: 22em;
		--dialog-alignment: start;
		--dialog-margin-top: 6em;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	min-height: 100%;
	display: flex;
}

body {
	line-height: 1.5;
	display: flex;
	flex: 1 1 auto;
	background-color: #051e3e;
	justify-content: center;
}

button {
	font-size: 1.2rem;
	cursor: pointer;
	border-radius: 0.4em;
	height: fit-content;
	padding: 0.6em 1em;
	font-weight: bold;
	color: var(--wine);
}

.container {
	background-color: #251e3e;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	gap: 3em;
	max-width: var(--default-width);
	align-items: center;
	position: relative;

	> button:hover {
		background-color: var(--positive-green);
		transition: var(--ease-transition);
	}
}

header {
	width: 100%;
	background-color: var(--dark-wine);
	color: white;
	height: 160px;
	font-size: 2em;
	padding: 1em;
}

.book-list-container-wrapper {
	width: 100%;
	position: relative;
}

.book-list-container {
	background-color: var(--dark-wine);
	padding: 3em;
	min-height: var(--book-card-min-height);
	width: 100%;
	position: relative;
	height: 100%;
	border-radius: 0.8em;

	ul {
		display: flex;
		list-style: none;
		justify-content: safe center;
		background-color: var(--wine);
		padding: 1em 20em;
		height: 100%;
		color: white;
		font-size: 1.2em;
		gap: 2em;
		box-shadow: var(--basic-shadow);

		overflow-x: auto;
		scroll-snap-type: x mandatory;

		scrollbar-width: none;
		-ms-overflow-style: none;

		scroll-marker-group: after;

		li {
			&::scroll-marker {
				content: "";
				width: 0.8em;
				height: 0.8em;
				background-color: transparent;
				border: 2px solid black;
				border-radius: 0.2em;
				background-color: white;
				cursor: pointer;
				box-shadow: var(--basic-shadow);
			}
			&::scroll-marker:active {
				border: 1px solid white;
			}
			&::scroll-marker:target-current {
				background-color: var(--light-wine);
			}
		}

		span {
			position: absolute;
			top: 100px;
			left: 140px;
			padding: 0.2em;
			border: 0.2em solid white;
		}

		&::scroll-marker-group {
			height: 3em;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1em;
			margin-top: -0.2em;
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.open-dialog-btn {
	margin-bottom: 4em;
}

.card {
	background-image: linear-gradient(
		130deg,
		#ff7a18,
		#af002d 41.07%,
		#319197 76.05%
	);
	height: 100%;
	width: var(--book-card-width);
	color: white;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	padding: 0.5em;
	border-radius: 0.6em;
	border: 0.3em solid white;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	z-index: 0;
	position: relative;

	scroll-snap-align: center;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		inset: 0;
		background-image: url("./imgs/pink-book.png");
		background-size: cover;
		background-position: -1.1em;
		filter: blur(0.3em) brightness(0.9);
	}

	h3 {
		text-align: center;
		word-break: break-all;
		font-size: 2em;
		text-shadow: 0 0 2px black;
		-webkit-text-stroke: 0.5px black;
	}

	> div:first-of-type {
		margin-top: auto;
		margin-bottom: 1.6em;
		font-size: 1.25em;
		text-shadow: 0 0 2px black;
		-webkit-text-stroke: 0.5px black;
	}

	> div:nth-of-type(2) {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	button {
		display: flex;
		font-size: 1.2em;
		align-items: center;
		justify-content: center;
		width: fit-content;
		gap: 0.2em;
		padding: 0.5em;
		height: 2em;
		border-radius: 0.2em;
		border: 0;
		box-shadow: var(--basic-shadow);

		color: var(--wine);

		svg {
			width: 1.25em;
			height: 1.25em;
		}
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: end;
		cursor: pointer;
	}

	.checkboxContainer + label {
		text-shadow: 0 0 2px black;
		-webkit-text-stroke: 0.5px black;
	}
}

.dialog {
	color: white;
	align-self: var(--dialog-alignment);
	margin-top: var(--dialog-margin-top);
	justify-self: center;
	width: min(80%, fit-content);
	height: min(50%, fit-content);
	font-size: 1.2em;
	padding: 2em;
	background-color: var(--dark-wine);
	border: 0;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

	&::backdrop {
		background-image: linear-gradient(
			130deg,
			rgba(255, 122, 24, 0.9),
			rgba(175, 0, 45, 0.9) 41.07%,
			rgba(49, 145, 151, 0.9) 76.05%
		);
	}

	h2 {
		margin-bottom: 1.6em;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 1.5em;
		height: 100%;
		justify-content: space-evenly;

		> div {
			display: flex;
			gap: 2em;

			> label {
				width: 20em;
			}

			label[for="pages"] {
				width: 8em;
			}
		}

		input[type="text"],
		input[type="number"] {
			width: 100%;
			height: 32px;
			border-radius: 0.6em;
			padding-left: 2ch;
		}

		fieldset {
			display: flex;
			gap: 2em;
			border-radius: 0.6em;

			label {
				display: flex;
				gap: 0.6em;
				align-items: center;
				cursor: pointer;
			}
			input {
				cursor: pointer;
			}
		}
	}

	.btn-container {
		display: flex;
		gap: 1.5em;

		button:last-of-type:hover {
			background-color: var(--positive-green);
			transition: var(--ease-transition);
		}
	}
}

.checkboxContainer {
	input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}

	label {
		font-size: 1.2em;
		display: block;
		width: 4.2em;
		height: 2em;
		background-color: black;
		position: relative;
		color: var(--light-wine);
		cursor: pointer;
		border-radius: 0.4rem;
		box-shadow: var(--basic-shadow);

		span {
			position: absolute;
			top: -1.7em;
			left: 0;
			width: 8em;
			color: white;
			border: 0;
			font-size: 0.9em;
			text-shadow: 0 0 2px black;
			-webkit-text-stroke: 0.5px black;
		}
	}

	label::before {
		display: flex;
		content: "";
	}

	label::after {
		display: flex;
		content: "";
		position: absolute;
		top: 0;
		justify-content: center;
		align-items: center;
	}

	input + label::before {
		background-color: #f1f1f1;
		height: 100%;
		width: 100%;
		border-radius: 0.4rem;
		transition: var(--ease-transition);
	}

	input:checked + label::before {
		background-color: var(--positive-green);
	}

	input + label::after {
		background-color: white;
		height: 100%;
		width: 50%;
		transition: var(--ease-transition);
		content: "No";
		border-radius: 0.4rem;
		font-size: 1.1em;
		font-weight: bold;
		box-shadow: var(--basic-shadow);
	}

	input:checked + label::after {
		transform: translateX(100%);
		content: "Yes";
	}
}

.carousel-left-right-container {
	button {
		color: #fff;
		opacity: 0.1;
		cursor: pointer;
		border: none;
	}

	button:hover {
		opacity: 1;
		transition: var(--ease-transition);
	}

	button:first-of-type {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		padding: 0 0.65em;
		background: linear-gradient(to left, transparent 0%, black 200%);
	}

	button:nth-of-type(2) {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		padding: 0 0.7em;
		background: linear-gradient(to right, transparent 0%, black 200%);
	}
}
