/* @font-face {
	font-family: "keep-calm";
	src: url("fonts/keep_calm/KeepCalm-Medium.woff2") format("woff2"),
		url("fonts/keep_calm/KeepCalm-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
} */

/* :root {
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	height: 100%;
	display: flex;
}

body {
	line-height: 1.5;
	display: flex;
	flex: 1 1 auto;
	background-color: #e2e2e2;
	justify-content: center;
}

.container {
	border: 1px solid blue;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	gap: 3em;
	max-width: 1024px;
	align-items: center;

	button {
		width: 240px;
	}
}

header {
	border: 1px solid purple;
	width: 100%;
}

.book-list-container {
	margin-top: 10em;
	border: 1px solid green;
	padding: 3em;
	height: 400px;
	width: 100%;

	ul {
		display: flex;
		list-style: none;
		border: 1px solid orange;
		padding: 1em;
		height: 100%;
		gap: 1em;
	}
}

.card {
	border: 1px solid red;
	width: 100%;
}
